.App {
  text-align: center;
}

.start-screen-container {
  position: relative;
}

.game-screen-container {
  position: relative;
}

.start-button {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #8FB062;
  border: none;
  border-radius: 3.5rem;
  height: 3.5rem;
  padding: 0 2.5rem;
  color: white;
}

.countdown {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  border: none;
  border-radius: 50px;
  /* Entfernen für Bug */
  height: 3.5rem;
  padding: 0 0.5rem;
}

.plus-button {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #8FB062;
  border: none;
  border-radius: 24px;
  height: 3.5rem;
  padding: 0 0.5rem;
  color: white;
}

.counter {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #E3E8B3;

}

.success {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.whatsapp-button {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: transparent;
  border: 1px solid white;
  border-radius: 3.5rem;
  height: 3.5rem;
  padding: 0 2.5rem;
  color: white;
}

.share-button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #8FB062;
  border: none;
  border-radius: 3.5rem;
  height: 3.5rem;
  padding: 0 2.5rem;
  color: white;
}