h3 {
  font-family: "Roboto-Medium";
  font-size: 40px;
  line-height: 46.88px;
  color: white;
}

p {
  font-family: "Roboto-Regular";
  font-size: 18.67px;
  line-height: 26.67px;
  color: white;
}

.App {
  text-align: center;
}

.start-screen-container {
  position: relative;
  background-color: #FFF0D2;
  width: 100vw;
  height: 100vh;
}

.start-screen-background {
  position: absolute;
  height: 70%;
  width: 100vw;
  bottom: 0;
}

.bg-hills {
  position: absolute;
  height: 100%;
  width: 100vw;
  bottom: 0;
  left: 0;
}

.bg-leaves-1 {
  position: absolute;
  bottom: 80%;
  top: 15%;
  left: 17%;
  width: 20%;
  height: 50px;
}

.start-screen-textbox {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  bottom: 80px;
  left: 0;
  right: 0;
  max-height: 639px;
  max-width: 400px;
  padding: 0 30px 0 30px;
}

.start-button {
  margin-top: 20px;
  background-color: #8FB062;
  border: none;
  border-radius: 3.5rem;
  height: 3.5rem;
  padding: 0 2.5rem;
  color: white;
}

.game-screen-container {
  position: relative;
  background-color: #FFF0D2;
  width: 100vw;
  height: 100vh;
}

.countdown {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  border: none;
  border-radius: 100%;
  /* Entfernen für Bug */
  padding: 1.2rem;
  color: #30411F;
}

.countdown-timer {
  font-size: 40px;
}

.countdown-text {
  font-size: 14px;
  padding-bottom: 8px;
}

.plus-button {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #8FB062;
  border: none;
  border-radius: 24px;
  height: 3.5rem;
  padding: 0 0.5rem;
  color: white;
}

.counter-container {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #E3E8B3;
}

.counter {
  font-size: 40px;
  font-weight: bold;
}

.clicks-text {
  font-size: 18px;
}

.end-screen-container {
  position: relative;
  background-color: #FFF0D2;
  width: 100vw;
  height: 100vh;
}

.success {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.play-again-button {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: transparent;
  border: 1px solid white;
  border-radius: 3.5rem;
  height: 3.5rem;
  padding: 0 2.5rem;
  color: white;
}

.share-button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #8FB062;
  border: none;
  border-radius: 3.5rem;
  height: 3.5rem;
  padding: 0 2.5rem;
  color: white;
}